In [1]:
import numpy as np
import pandas as pd
import torch
import os

In [2]:
dataset_list = [
                'IRDS_clf_bn_EFL', 'IRDS_clf_bn_EFR', 'IRDS_clf_bn_SAL', 
                'IRDS_clf_bn_SAR', 
                'IRDS_clf_bn_SFE', 'IRDS_clf_bn_SFL', 'IRDS_clf_bn_SFR', 
                'IRDS_clf_bn_STL', 'IRDS_clf_bn_STR', 
                'KERAAL_clf_bn_CTK', 'KERAAL_clf_bn_ELK', 'KERAAL_clf_bn_RTK', 
                # 'KERAAL_clf_mc_CTK', 'KERAAL_clf_mc_ELK', 'KERAAL_clf_mc_RTK
                'KIMORE_clf_bn_LA', 'KIMORE_clf_bn_LT', 'KIMORE_clf_bn_PR', 'KIMORE_clf_bn_Sq', 'KIMORE_clf_bn_TR', 
                # 'KINECAL_clf_bn_3WFV', 'KINECAL_clf_bn_GGFV', 'KINECAL_clf_bn_QSEC', 'KINECAL_clf_bn_QSEO', #'SPHERE_clf_bn_WUS',                     
                'UCDHE_clf_bn_MP', 'UCDHE_clf_bn_Rowing', 'UCDHE_clf_mc_MP', 'UCDHE_clf_mc_Rowing',                    
                'UIPRMD_clf_bn_DS', 'UIPRMD_clf_bn_HS', 'UIPRMD_clf_bn_IL', 'UIPRMD_clf_bn_SASLR', 'UIPRMD_clf_bn_SL',
                'UIPRMD_clf_bn_SSA', 'UIPRMD_clf_bn_SSE', 'UIPRMD_clf_bn_SSIER', 'UIPRMD_clf_bn_SSS', 'UIPRMD_clf_bn_STS'
                
                ]

In [3]:
data_path = '/home/jabdullayev/phd/datasets/classification/'
for dataset in dataset_list:
    dataset_path = os.path.join(data_path, dataset, "fold0")

    xtrain = np.load(os.path.join(dataset_path, "x_train_fold0.npy"), allow_pickle=True,)
    ytrain = np.load(os.path.join(dataset_path, "y_train_fold0.npy"), allow_pickle=True)
    strain = np.load(os.path.join(dataset_path, "s_train_fold0.npy"), allow_pickle=True)
    
    xtest = np.load(os.path.join(dataset_path, "x_test_fold0.npy"), allow_pickle=True,)
    ytest = np.load(os.path.join(dataset_path, "y_test_fold0.npy"), allow_pickle=True)
    stest = np.load(os.path.join(dataset_path, "s_test_fold0.npy"), allow_pickle=True)

    # print(f'x_train shape: {xtrain.shape}')
    # print(f'y_train shape: {ytrain.shape}')
    # print(f's_train shape: {strain.shape}')
    # print('------------------------------')
    # print(f'x_test shape: {xtest.shape}')
    # print(f'y_test shape: {ytest.shape}')
    # print(f's_test shape: {stest.shape}')


    # if xtrain.shape[0] != strain.shape[0]:
    #     print(f"Dataset: {dataset}")
    #     print(f'x_train shape: {xtrain.shape}')
    #     print(f'y_train shape: {ytrain.shape}')
    #     print(f's_train shape: {strain.shape}')
    #     print('------------------------------')
    #     print(f'x_test shape: {xtest.shape}')
    #     print(f'y_test shape: {ytest.shape}')
    #     print(f's_test shape: {stest.shape}')

    #     print('\n\n')
    # break

In [34]:
dataset_list = [
                'IRDS_clf_bn_EFL', 'IRDS_clf_bn_EFR', 'IRDS_clf_bn_SAL', 
                # 'IRDS_clf_bn_SAR', 
    
                'IRDS_clf_bn_SFE', 'IRDS_clf_bn_SFL', 'IRDS_clf_bn_SFR', 
                'IRDS_clf_bn_STL', 
                'IRDS_clf_bn_STR', 
                'KERAAL_clf_bn_CTK', 'KERAAL_clf_bn_ELK', 'KERAAL_clf_bn_RTK', 
                
                # 'KERAAL_clf_mc_CTK', 
                # 'KERAAL_clf_mc_ELK', 'KERAAL_clf_mc_RTK', 'KIMORE_clf_bn_LA', 'KIMORE_clf_bn_LT', 'KIMORE_clf_bn_PR', 'KIMORE_clf_bn_Sq', 
                # 'KIMORE_clf_bn_TR', 'KINECAL_clf_bn_3WFV', 'KINECAL_clf_bn_GGFV', 'KINECAL_clf_bn_QSEC', 'KINECAL_clf_bn_QSEO', 'SPHERE_clf_bn_WUS', 
                
                # 'UCDHE_clf_bn_MP', 'UCDHE_clf_bn_Rowing', 'UCDHE_clf_mc_MP', 'UCDHE_clf_mc_Rowing'
                
                'UIPRMD_clf_bn_DS', 'UIPRMD_clf_bn_HS', 'UIPRMD_clf_bn_IL', 'UIPRMD_clf_bn_SASLR', 'UIPRMD_clf_bn_SL',
                'UIPRMD_clf_bn_SSA', 'UIPRMD_clf_bn_SSE', 'UIPRMD_clf_bn_SSIER', 'UIPRMD_clf_bn_SSS', 'UIPRMD_clf_bn_STS'                
                ]


data_path = '/home/jabdullayev/phd/projects/UDA-DeepRehab/experiments_logs/'
new_columns = ['Dataset', 'mean_acc', 'mean_bal_acc', 'mean_f1_score', 'mean_auroc']
df = pd.DataFrame(columns=new_columns)

for dataset in dataset_list:
    columns = ['Unnamed: 0', 'scenario', 'run',	'acc',	'bal_acc', 'f1_score', 'auroc']
    fin_df = pd.DataFrame(columns=columns)
    for i in range (5):
        dataset_path = os.path.join(data_path, dataset, "CoDATS", f"_run_{i}", "results.csv")
        res_df = pd.read_csv(dataset_path)
        fin_df = pd.concat([fin_df, res_df[res_df['scenario']=='mean']], axis=0)

    # new_columns = ['Dataset', 'mean_acc', 'mean_bal_acc', 'mean_f1_score', 'mean_auroc']
    # df = pd.DataFrame(columns=new_columns)
    rows = [dataset]
    mean_acc = fin_df['acc'].mean()
    mean_bal_acc = fin_df['bal_acc'].mean()
    mean_f1_score = fin_df['f1_score'].mean()
    mean_auroc = fin_df['auroc'].mean()
    dataset_list = [
                'IRDS_clf_bn_EFL', 'IRDS_clf_bn_EFR', 'IRDS_clf_bn_SAL', 
                # 'IRDS_clf_bn_SAR', 
    
                'IRDS_clf_bn_SFE', 'IRDS_clf_bn_SFL', 'IRDS_clf_bn_SFR', 
                'IRDS_clf_bn_STL', 
                'IRDS_clf_bn_STR', 
                'KERAAL_clf_bn_CTK', 'KERAAL_clf_bn_ELK', 'KERAAL_clf_bn_RTK', 
                
                # 'KERAAL_clf_mc_CTK', 
                # 'KERAAL_clf_mc_ELK', 'KERAAL_clf_mc_RTK', 'KIMORE_clf_bn_LA', 'KIMORE_clf_bn_LT', 'KIMORE_clf_bn_PR', 'KIMORE_clf_bn_Sq', 
                # 'KIMORE_clf_bn_TR', 'KINECAL_clf_bn_3WFV', 'KINECAL_clf_bn_GGFV', 'KINECAL_clf_bn_QSEC', 'KINECAL_clf_bn_QSEO', 'SPHERE_clf_bn_WUS', 
                
                # 'UCDHE_clf_bn_MP', 'UCDHE_clf_bn_Rowing', 'UCDHE_clf_mc_MP', 'UCDHE_clf_mc_Rowing'
                
                'UIPRMD_clf_bn_DS', 'UIPRMD_clf_bn_HS', 'UIPRMD_clf_bn_IL', 'UIPRMD_clf_bn_SASLR', 'UIPRMD_clf_bn_SL',
                'UIPRMD_clf_bn_SSA', 'UIPRMD_clf_bn_SSE', 'UIPRMD_clf_bn_SSIER', 'UIPRMD_clf_bn_SSS', 'UIPRMD_clf_bn_STS'                
                ]


data_path = '/home/jabdullayev/phd/projects/UDA-DeepRehab/experiments_logs/'
new_columns = ['Dataset', 'mean_acc', 'mean_bal_acc', 'mean_f1_score', 'mean_auroc']
df = pd.DataFrame(columns=new_columns)

for dataset in dataset_list:
    columns = ['Unnamed: 0', 'scenario', 'run',	'acc',	'bal_acc', 'f1_score', 'auroc']
    fin_df = pd.DataFrame(columns=columns)
    for i in range (5):
        dataset_path = os.path.join(data_path, dataset, "CoDATS", f"_run_{i}", "results.csv")
        res_df = pd.read_csv(dataset_path)
        fin_df = pd.concat([fin_df, res_df[res_df['scenario']=='mean']], axis=0)

    # new_columns = ['Dataset', 'mean_acc', 'mean_bal_acc', 'mean_f1_score', 'mean_auroc']
    # df = pd.DataFrame(columns=new_columns)
    rows = [dataset]
    mean_acc = fin_df['acc'].mean()
    mean_bal_acc = fin_df['bal_acc'].mean()
    mean_f1_score = fin_df['f1_score'].mean()
    mean_auroc = fin_df['auroc'].mean()
    
    rows.append(mean_acc)
    rows.append(mean_bal_acc)
    rows.append(mean_f1_score)
    rows.append(mean_auroc)
    
    print(f"mean_acc: {mean_acc}")
    print(f"mean_bal_acc: {mean_acc}")
    print(f"mean_f1_score: {mean_acc}")
    print(f"mean_auroc: {mean_auroc}")
    
    df = pd.concat([df, pd.DataFrame([rows], columns=new_columns)], axis=0)    

    # break
    rows.append(mean_acc)
    rows.append(mean_bal_acc)
    rows.append(mean_f1_score)
    rows.append(mean_auroc)
    
    print(f"mean_acc: {mean_acc}")
    print(f"mean_bal_acc: {mean_acc}")
    print(f"mean_f1_score: {mean_acc}")
    print(f"mean_auroc: {mean_auroc}")
    
    df = pd.concat([df, pd.DataFrame([rows], columns=new_columns)], axis=0)    

    # break

mean_acc: 0.8833399999999999
mean_bal_acc: 0.8833399999999999
mean_f1_score: 0.8833399999999999
mean_auroc: 0.48888
mean_acc: 0.725
mean_bal_acc: 0.725
mean_f1_score: 0.725
mean_auroc: 0.42916
mean_acc: 0.8777799999999999
mean_bal_acc: 0.8777799999999999
mean_f1_score: 0.8777799999999999
mean_auroc: 0.22946
mean_acc: 0.73334
mean_bal_acc: 0.73334
mean_f1_score: 0.73334
mean_auroc: 0.0
mean_acc: 0.8375199999999999
mean_bal_acc: 0.8375199999999999
mean_f1_score: 0.8375199999999999
mean_auroc: 0.6103
mean_acc: 0.60418
mean_bal_acc: 0.60418
mean_f1_score: 0.60418
mean_auroc: 0.08444
mean_acc: 0.77498
mean_bal_acc: 0.77498
mean_f1_score: 0.77498
mean_auroc: 0.43406
mean_acc: 0.69746
mean_bal_acc: 0.69746
mean_f1_score: 0.69746
mean_auroc: 0.5494
mean_acc: 0.7999799999999999
mean_bal_acc: 0.7999799999999999
mean_f1_score: 0.7999799999999999
mean_auroc: 0.90524
mean_acc: 0.66668
mean_bal_acc: 0.66668
mean_f1_score: 0.66668
mean_auroc: 0.0
mean_acc: 0.7
mean_bal_acc: 0.7
mean_f1_score: 0.7
mean_auroc: 0.70286
mean_acc: 0.9400000000000001
mean_bal_acc: 0.9400000000000001
mean_f1_score: 0.9400000000000001
mean_auroc: 0.9949999999999999
mean_acc: 1.0
mean_bal_acc: 1.0
mean_f1_score: 1.0
mean_auroc: 1.0
mean_acc: 0.6375
mean_bal_acc: 0.6375
mean_f1_score: 0.6375
mean_auroc: 0.75616
mean_acc: 1.0
mean_bal_acc: 1.0
mean_f1_score: 1.0
mean_auroc: 1.0
mean_acc: 1.0
mean_bal_acc: 1.0
mean_f1_score: 1.0
mean_auroc: 1.0
mean_acc: 1.0
mean_bal_acc: 1.0
mean_f1_score: 1.0
mean_auroc: 1.0
mean_acc: 1.0
mean_bal_acc: 1.0
mean_f1_score: 1.0
mean_auroc: 1.0
mean_acc: 0.8800000000000001
mean_bal_acc: 0.8800000000000001
mean_f1_score: 0.8800000000000001
mean_auroc: 0.992
mean_acc: 0.975
mean_bal_acc: 0.975
mean_f1_score: 0.975
mean_auroc: 0.97188
mean_acc: 1.0
mean_bal_acc: 1.0
mean_f1_score: 1.0
mean_auroc: 1.0

/tmp/ipykernel_434250/1125151587.py:31: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  fin_df = pd.concat([fin_df, res_df[res_df['scenario']=='mean']], axis=0)
/tmp/ipykernel_434250/1125151587.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, pd.DataFrame([rows], columns=new_columns)], axis=0)
/tmp/ipykernel_434250/1125151587.py:31: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  fin_df = pd.concat([fin_df, res_df[res_df['scenario']=='mean']], axis=0)
/tmp/ipykernel_434250/1125151587.py:31: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  fin_df = pd.concat([fin_df, res_df[res_df['scenario']=='mean']], axis=0)
/tmp/ipykernel_434250/1125151587.py:31: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  fin_df = pd.concat([fin_df, res_df[res_df['scenario']=='mean']], axis=0)
/tmp/ipykernel_434250/1125151587.py:31: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  fin_df = pd.concat([fin_df, res_df[res_df['scenario']=='mean']], axis=0)
/tmp/ipykernel_434250/1125151587.py:31: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  fin_df = pd.concat([fin_df, res_df[res_df['scenario']=='mean']], axis=0)
/tmp/ipykernel_434250/1125151587.py:31: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  fin_df = pd.concat([fin_df, res_df[res_df['scenario']=='mean']], axis=0)
/tmp/ipykernel_434250/1125151587.py:31: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  fin_df = pd.concat([fin_df, res_df[res_df['scenario']=='mean']], axis=0)
/tmp/ipykernel_434250/1125151587.py:31: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  fin_df = pd.concat([fin_df, res_df[res_df['scenario']=='mean']], axis=0)
/tmp/ipykernel_434250/1125151587.py:31: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  fin_df = pd.concat([fin_df, res_df[res_df['scenario']=='mean']], axis=0)
/tmp/ipykernel_434250/1125151587.py:31: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  fin_df = pd.concat([fin_df, res_df[res_df['scenario']=='mean']], axis=0)
/tmp/ipykernel_434250/1125151587.py:31: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  fin_df = pd.concat([fin_df, res_df[res_df['scenario']=='mean']], axis=0)
/tmp/ipykernel_434250/1125151587.py:31: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  fin_df = pd.concat([fin_df, res_df[res_df['scenario']=='mean']], axis=0)
/tmp/ipykernel_434250/1125151587.py:31: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  fin_df = pd.concat([fin_df, res_df[res_df['scenario']=='mean']], axis=0)
/tmp/ipykernel_434250/1125151587.py:31: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  fin_df = pd.concat([fin_df, res_df[res_df['scenario']=='mean']], axis=0)
/tmp/ipykernel_434250/1125151587.py:31: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  fin_df = pd.concat([fin_df, res_df[res_df['scenario']=='mean']], axis=0)
/tmp/ipykernel_434250/1125151587.py:31: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  fin_df = pd.concat([fin_df, res_df[res_df['scenario']=='mean']], axis=0)
/tmp/ipykernel_434250/1125151587.py:31: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  fin_df = pd.concat([fin_df, res_df[res_df['scenario']=='mean']], axis=0)
/tmp/ipykernel_434250/1125151587.py:31: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  fin_df = pd.concat([fin_df, res_df[res_df['scenario']=='mean']], axis=0)
/tmp/ipykernel_434250/1125151587.py:31: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  fin_df = pd.concat([fin_df, res_df[res_df['scenario']=='mean']], axis=0)
/tmp/ipykernel_434250/1125151587.py:31: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  fin_df = pd.concat([fin_df, res_df[res_df['scenario']=='mean']], axis=0)

In [32]:
fin_df

  Unnamed: 0 scenario run     acc  bal_acc  f1_score   auroc
1          1     mean   -  0.8333   0.8333    0.8286  0.9167
1          1     mean   -  0.8333   0.8571    0.8333  0.9643
1          1     mean   -  0.6667   0.6857    0.6667  0.8071
1          1     mean   -  0.8333   0.8333    0.8286  0.9167
1          1     mean   -  0.8333   0.8571    0.8333  0.9214

In [18]:
df

           Dataset  mean_acc  mean_bal_acc  mean_f1_score  mean_auroc
0  IRDS_clf_bn_STR   0.69746       0.64864        0.54486      0.5494

In [14]:
fin_df['bal_acc'].mean()

np.float64(0.86664)

In [35]:
df

               Dataset  mean_acc  mean_bal_acc  mean_f1_score  mean_auroc
0      IRDS_clf_bn_EFL   0.88334       0.86664        0.79428     0.48888
0      IRDS_clf_bn_EFR   0.72500       0.61984        0.53546     0.42916
0      IRDS_clf_bn_SAL   0.87778       0.84112        0.81196     0.22946
0      IRDS_clf_bn_SFE   0.73334       0.73334        0.51490     0.00000
0      IRDS_clf_bn_SFL   0.83752       0.88200        0.79104     0.61030
0      IRDS_clf_bn_SFR   0.60418       0.57110        0.49266     0.08444
0      IRDS_clf_bn_STL   0.77498       0.71862        0.65456     0.43406
0      IRDS_clf_bn_STR   0.69746       0.64864        0.54486     0.54940
0    KERAAL_clf_bn_CTK   0.79998       0.81330        0.79810     0.90524
0    KERAAL_clf_bn_ELK   0.66668       0.66668        0.39940     0.00000
0    KERAAL_clf_bn_RTK   0.70000       0.69142        0.69142     0.70286
0     UIPRMD_clf_bn_DS   0.94000       0.94000        0.93674     0.99500
0     UIPRMD_clf_bn_HS   1.00000       1.00000        1.00000     1.00000
0     UIPRMD_clf_bn_IL   0.63750       0.65000        0.60386     0.75616
0  UIPRMD_clf_bn_SASLR   1.00000       1.00000        1.00000     1.00000
0     UIPRMD_clf_bn_SL   1.00000       1.00000        1.00000     1.00000
0    UIPRMD_clf_bn_SSA   1.00000       1.00000        1.00000     1.00000
0    UIPRMD_clf_bn_SSE   1.00000       1.00000        1.00000     1.00000
0  UIPRMD_clf_bn_SSIER   0.88000       0.88000        0.87638     0.99200
0    UIPRMD_clf_bn_SSS   0.97500       0.97500        0.97492     0.97188
0    UIPRMD_clf_bn_STS   1.00000       1.00000        1.00000     1.00000

In [36]:
uda_df = df.copy()

In [37]:
uda_df

               Dataset  mean_acc  mean_bal_acc  mean_f1_score  mean_auroc
0      IRDS_clf_bn_EFL   0.88334       0.86664        0.79428     0.48888
0      IRDS_clf_bn_EFR   0.72500       0.61984        0.53546     0.42916
0      IRDS_clf_bn_SAL   0.87778       0.84112        0.81196     0.22946
0      IRDS_clf_bn_SFE   0.73334       0.73334        0.51490     0.00000
0      IRDS_clf_bn_SFL   0.83752       0.88200        0.79104     0.61030
0      IRDS_clf_bn_SFR   0.60418       0.57110        0.49266     0.08444
0      IRDS_clf_bn_STL   0.77498       0.71862        0.65456     0.43406
0      IRDS_clf_bn_STR   0.69746       0.64864        0.54486     0.54940
0    KERAAL_clf_bn_CTK   0.79998       0.81330        0.79810     0.90524
0    KERAAL_clf_bn_ELK   0.66668       0.66668        0.39940     0.00000
0    KERAAL_clf_bn_RTK   0.70000       0.69142        0.69142     0.70286
0     UIPRMD_clf_bn_DS   0.94000       0.94000        0.93674     0.99500
0     UIPRMD_clf_bn_HS   1.00000       1.00000        1.00000     1.00000
0     UIPRMD_clf_bn_IL   0.63750       0.65000        0.60386     0.75616
0  UIPRMD_clf_bn_SASLR   1.00000       1.00000        1.00000     1.00000
0     UIPRMD_clf_bn_SL   1.00000       1.00000        1.00000     1.00000
0    UIPRMD_clf_bn_SSA   1.00000       1.00000        1.00000     1.00000
0    UIPRMD_clf_bn_SSE   1.00000       1.00000        1.00000     1.00000
0  UIPRMD_clf_bn_SSIER   0.88000       0.88000        0.87638     0.99200
0    UIPRMD_clf_bn_SSS   0.97500       0.97500        0.97492     0.97188
0    UIPRMD_clf_bn_STS   1.00000       1.00000        1.00000     1.00000

In [38]:
uda_df.to_csv('uda_res.csv', index=False)

In [ ]:
dataset_list = [
                'IRDS_clf_bn_EFL', 'IRDS_clf_bn_EFR', 'IRDS_clf_bn_SAL', 
                # 'IRDS_clf_bn_SAR', 
    
                'IRDS_clf_bn_SFE', 'IRDS_clf_bn_SFL', 'IRDS_clf_bn_SFR', 
                'IRDS_clf_bn_STL', 
                'IRDS_clf_bn_STR', 
                'KERAAL_clf_bn_CTK', 'KERAAL_clf_bn_ELK', 'KERAAL_clf_bn_RTK', 
                
                # 'KERAAL_clf_mc_CTK', 
                # 'KERAAL_clf_mc_ELK', 'KERAAL_clf_mc_RTK', 'KIMORE_clf_bn_LA', 'KIMORE_clf_bn_LT', 'KIMORE_clf_bn_PR', 'KIMORE_clf_bn_Sq', 
                # 'KIMORE_clf_bn_TR', 'KINECAL_clf_bn_3WFV', 'KINECAL_clf_bn_GGFV', 'KINECAL_clf_bn_QSEC', 'KINECAL_clf_bn_QSEO', 'SPHERE_clf_bn_WUS', 
                
                # 'UCDHE_clf_bn_MP', 'UCDHE_clf_bn_Rowing', 'UCDHE_clf_mc_MP', 'UCDHE_clf_mc_Rowing'
                
                'UIPRMD_clf_bn_DS', 'UIPRMD_clf_bn_HS', 'UIPRMD_clf_bn_IL', 'UIPRMD_clf_bn_SASLR', 'UIPRMD_clf_bn_SL',
                'UIPRMD_clf_bn_SSA', 'UIPRMD_clf_bn_SSE', 'UIPRMD_clf_bn_SSIER', 'UIPRMD_clf_bn_SSS', 'UIPRMD_clf_bn_STS'                
                ]


data_path = '/home/jabdullayev/phd/projects/UDA-DeepRehab/experiments_logs/'
new_columns = ['Dataset', 'mean_acc', 'mean_bal_acc', 'mean_f1_score', 'mean_auroc']
df = pd.DataFrame(columns=new_columns)

for dataset in dataset_list:
    columns = ['Unnamed: 0', 'scenario', 'run',	'acc',	'bal_acc', 'f1_score', 'auroc']
    fin_df = pd.DataFrame(columns=columns)
    for i in range (5):
        dataset_path = os.path.join(data_path, dataset, "CoDATS", f"_run_{i}", "results.csv")
        res_df = pd.read_csv(dataset_path)
        fin_df = pd.concat([fin_df, res_df[res_df['scenario']=='mean']], axis=0)

    # new_columns = ['Dataset', 'mean_acc', 'mean_bal_acc', 'mean_f1_score', 'mean_auroc']
    # df = pd.DataFrame(columns=new_columns)
    rows = [dataset]
    mean_acc = fin_df['acc'].mean()
    mean_bal_acc = fin_df['bal_acc'].mean()
    mean_f1_score = fin_df['f1_score'].mean()
    mean_auroc = fin_df['auroc'].mean()
    
    rows.append(mean_acc)
    rows.append(mean_bal_acc)
    rows.append(mean_f1_score)
    rows.append(mean_auroc)
    
    print(f"mean_acc: {mean_acc}")
    print(f"mean_bal_acc: {mean_acc}")
    print(f"mean_f1_score: {mean_acc}")
    print(f"mean_auroc: {mean_auroc}")
    
    df = pd.concat([df, pd.DataFrame([rows], columns=new_columns)], axis=0)    

    # break